[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
[submodule "libs/websocketpp"]
	path = libs/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "libs/restclient-cpp"]
	path = libs/restclient-cpp
	url = https://github.com/hiddos/restclient-cpp
